@model AddDoktorViewModel
@{

   
}
<h1>Doktor Ekle</h1>

<form method="post" action="Add">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Adı</label>
        <input type="text" class="form-control" asp-for="DoktorAdi" readonly>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Soyad</label>
        <input type="text" class="form-control" asp-for="DoktorSoyadi" readonly>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Telefon</label>
        <input type="text" class="form-control" asp-for="DoktorTelefon" readonly>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Mail</label>
        <input type="email" class="form-control" asp-for="DoktorMail" readonly>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Şifre</label>
        <input type="text" class="form-control" asp-for="DoktorSifre" readonly>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Branş </label>
        <input type="text" class="form-control" asp-for="DoktorBrans">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Ünvan</label>
        <input type="text" class="form-control" asp-for="DoktorUnvan">
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>