@model Hospital_Web_Project_Fall.Models.UpdateDoktorViewModel
@{
}

<h1>Doktor Güncelle</h1>

<form method="post" action="View">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Id</label>
        <input type="text" class="form-control" asp-for="DoktorId" readonly>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Adı</label>
        <input type="text" class="form-control" asp-for="DoktorAdi">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Soyad</label>
        <input type="text" class="form-control" asp-for="DoktorSoyadi">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Telefon</label>
        <input type="text" class="form-control" asp-for="DoktorTelefon">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Mail</label>
        <input type="email" class="form-control" asp-for="DoktorMail">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Şifre</label>
        <input type="password" class="form-control" asp-for="DoktorSifre">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Branş</label>
        <input type="text" class="form-control" asp-for="DoktorBrans">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Doktor Ünvan</label>
        <input type="text" class="form-control" asp-for="DoktorUnvan">
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>
