@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Deneme Hastane Sistemi</p>
    <div>
        <p>
           Doktorlarımızı görmek için <a href="/Doktor">tıklayınız</a>
            Doktorlarımızı görmek için <a href="/Hasta">tıklayınız</a>
            <p>Deneme Hastane Sistemi</p>
            <h1> Hastane deneme Doktorlar bölümü</h1>
<p>Deneme Hastane Sistemi</p>
<h1> Hastane deneme Doktorlar bölümü</h1>
<p>Deneme Hastane Sistemi</p>
<h1> Hastane deneme Doktorlar bölümü</h1>
<p>Deneme Hastane Sistemi</p>
<h1> Hastane deneme Doktorlar bölümü</h1>
<p>Deneme Hastane Sistemi</p>
        </p>
    </div>

</div>
